.btn {
    display: flex;
    border: none;
    border-radius: 1rem;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    cursor: pointer;
    width: 7rem;
    align-items: center;
    justify-content: center;
    transition: all 0.2s ease;
    padding: .5rem;
    font-weight: bold;

    &:hover {
        color: #fff;
    }

    &:active {
        transform: translateY(1px);
    }
}